<form [formGroup]="form">
  <ng-container [ngSwitch]="question.controlType">
    <div class="above-form-control">
      <label *ngIf="question.label" [attr.for]="question.key">{{question.label}}</label>
    </div>
    <mat-form-field *ngSwitchCase="'textbox'">
      <input
        [formControlName]="question.key"
        matInput
        [placeholder]="question.placeholder"
        [id]="question.key"
        [type]="question.type">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-select [placeholder]="question.placeholder"

                  [id]="question.key"
                  [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="range-form-control" *ngSwitchCase="'range'">
      <mat-slider
                  [id]="question.key"
                  [formControlName]="question.key"
                  [max]="question.max"
                  [min]="question.min"
                  [step]="question.step"
                  [thumbLabel]="question.thumbLabel"
                  [tickInterval]="question.tickInterval"
      ></mat-slider>
    </div>
    <div class="radio-form-control" *ngSwitchCase="'radio'">
      <mat-radio-group
        [id]="question.key"
        [labelPosition]="question['labelPosition']"
        [formControlName]="question.key">
        <mat-radio-button *ngFor="let opt of question.options" [value]="opt.key">
          {{opt.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="checkbox-form-control" *ngSwitchCase="'checkbox'">
      <mat-checkbox
        [id]="question.key"
        [labelPosition]="question['labelPosition']">
        {{question.label}}
      </mat-checkbox>
    </div>

    <mat-error *ngIf="!isValid">{{question.label}} is required</mat-error>

  </ng-container>


</form>
