<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div *ngFor="let question of questions" class="form-row">
    <app-question [question]="question" [form]="form"></app-question>
  </div>

  <div class="form-row">
    <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">Save</button>
  </div>
</form>
