<nav mat-tab-nav-bar >
  <a mat-tab-link
     *ngFor="let e of examples"
     [routerLink]="e.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{e.label}}
  </a>
</nav>

<app-dynamic-form (onSubmitClick)="onFormSubmit($event)" [questions]="questions"></app-dynamic-form>

<div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>
